@import "../../../styles/Global.scss";

.messenger-graph {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 10px 10px 10px;
    padding: 20px;

    &__title {
        color: $dark-blue;
        margin-bottom: 15px;
    }

    &__custom-legend {
        font-family: "Rubik", sans-serif !important;
        font-size: 10px !important;
        font-weight: 400 !important;
        color: #999999 !important;
        margin: auto;
        text-align: center;

        span {
            width: 21px;
            height: 9px;
            background-color: #09d5b0;
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__content {
        min-height: 380px;
    }

    //------------------------------------------------------------------
    //Graph component override
    //------------------------------------------------------------------
    .apexcharts-menu-icon {
        display: none;
    }
    .apexcharts-legend-text {
        font-family: "Rubik", sans-serif !important;
        font-size: 10px !important;
        font-weight: 400 !important;
        color: #999999 !important;
    }
}
