@import "../../../styles/Global.scss";

.messenger-graph {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 10px 10px 10px;
    padding: 20px;

    &__title {
        color: $dark-blue;
    }

    .apexcharts-menu-icon {
        display: none;
    }
}
