@import "../../styles/Global.scss";

//Use "id" as wrapper in order to ensure that styles defined here override any external styles
#dashboard-page {
    .dashboard-page {
        background-color: $light-ash;
        height: 100vh;

        display: flex;

        .sidebar {
            width: 300px;
            background-color: #fff;
            position: relative;
            z-index: 2;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

            &__header {
                height: 96px;
                background-color: $dark-blue;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__links {
                display: flex;
                flex-direction: column;

                a {
                    padding: 15px 40px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $dark-blue;
                    font-size: 14px;
                    font-weight: 500;

                    &.active {
                        background-color: $medium-green;
                    }

                    img {
                        margin-right: 20px;
                    }
                }
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;

            .navbar {
                height: 96px;
                background-color: $dark-blue;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 30px;

                &__left-column {
                    .dropdown {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 15px 40px;
                        border: none;
                        border-radius: 10px;
                        background-color: #fff;
                    }
                }

                &__right-column {
                    .btn {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 15px 40px;
                        border: none;
                        border-radius: 10px;
                        outline: none;

                        &.btn-white {
                            margin-right: 20px;
                        }

                        &.btn-yellow {
                            background-color: $yellow;
                        }
                    }
                }
            }

            .dashboard-details {
                flex: 1;
                background-color: #fff;
                padding: 30px;

                &__date-wrapper {
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    padding: 15px 20px;
                    border-radius: 0px 10px 10px 10px;

                    h4 {
                        border: 1px solid #c4c4c4;
                        border-radius: 10px;
                        background-color: #fff;
                        font-weight: 400;
                        display: inline-block;
                        padding: 12px 30px;
                    }
                }
            }
        }
    }
}
