@import "../../styles/Global.scss";

//Use "id" as wrapper in order to ensure that styles defined here override any external styles
#dashboard-page {
    .dashboard-page {
        background-color: $light-ash;
        height: 100vh;
        display: flex;

        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: opacity 200ms ease-in-out;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;

            .dashboard-details {
                flex: 1;
                background-color: #fff;
                padding: 30px;

                &__cards-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 20px;
                    margin-bottom: 20px;

                    @media (max-width: 1305px) {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media (max-width: 986px) {
                        grid-template-columns: 1fr;
                    }

                    @media (max-width: $tablet-breakpoint) {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media (max-width: 680px) {
                        grid-template-columns: 1fr;
                    }

                    .card {
                        background-color: $dark-blue;
                        color: #fff;
                        border-radius: 0px 10px 10px 10px;
                        padding: 10px 20px;
                        position: relative;
                        min-width: 300px;

                        &__title {
                            font-weight: 400;
                            margin-bottom: 10px;
                        }

                        &__details {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 20px;
                            h1 {
                                font-size: 40px;
                            }
                        }

                        &__info-icon {
                            display: block;
                            margin-left: auto;
                        }
                    }
                }

                &__graphs-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 40px;

                    @media (max-width: 1240px) {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}
