@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$light-ash: #e5e5e5 !important;
$dark-blue: #15113b !important;
$medium-green: #09d5b0 !important;
$yellow: #ffd343 !important;

$tablet-breakpoint: 768px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.site-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: $dark-blue;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;

    img {
        width: 100px;
        animation: expand 2s ease-in-out infinite;
    }
}

@keyframes expand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
