@import "../../styles/Global.scss";

.navbar-component {
    position: fixed;
    height: 96px;
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    flex-shrink: 0;
    width: calc(100vw - 300px);
    z-index: 100;

    @media (max-width: $tablet-breakpoint) {
        height: 70px;
        width: 100vw;
    }

    &__right-column {
        .btn {
            font-size: 16px;
            font-weight: 500;
            padding: 0px 40px;
            border: none;
            border-radius: 10px;
            outline: none;
            height: 48px;

            @media (max-width: $tablet-breakpoint) {
                display: none;
            }

            &.btn-white {
                margin-right: 20px;
                background-color: #fff;
            }

            &.btn-yellow {
                background-color: $yellow;
            }
        }
    }
}

.navbar-component-position-fix {
    height: 96px;
    opacity: 0;
    flex-shrink: 0;

    @media (max-width: $tablet-breakpoint) {
        height: 70px;
    }
}
