@import "../../styles/Global.scss";

.sidebar {
    width: 300px;
    background-color: #fff;
    position: relative;
    z-index: 2000;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    flex-shrink: 0;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-breakpoint) {
        transform: translateX(-100vw);
        transition: transform 200ms ease-in-out;

        &.is-open {
            transform: translateX(0px);
        }
    }

    &__header {
        height: 96px;
        background-color: $dark-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $tablet-breakpoint) {
            height: 70px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        a {
            padding: 15px 40px;
            display: flex;
            align-items: center;
            text-decoration: none !important;
            color: $dark-blue;
            font-size: 14px;
            font-weight: 500;

            &.active {
                background-color: $medium-green;
            }

            img {
                margin-right: 20px;
            }
        }
    }

    &__visible-on-mobile {
        margin: auto 40px 40px;

        @media (min-width: $tablet-breakpoint) {
            display: none;
        }

        .btn {
            font-size: 16px;
            font-weight: 500;
            padding: 0px 40px;
            border: none;
            border-radius: 10px;
            outline: none;
            height: 48px;
            width: 100%;

            &.btn-white {
                margin-bottom: 20px;
            }

            &.btn-yellow {
                background-color: $yellow;
            }
        }
    }
}

.sidebar-position-fix {
    width: 300px;
    height: 100vh;
    flex-shrink: 0;

    @media (max-width: $tablet-breakpoint) {
        display: none;
    }
}
