@import "../../styles/Global.scss";

.date-display-component {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 15px 20px;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 20px;
    position: relative;

    &__header {
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        background-color: #fff;
        font-weight: 400;
        display: inline-block;
        padding: 12px 30px;
        cursor: pointer;
    }
}

//------------------------------------------------------------------
//Date Picker component Overrides
//------------------------------------------------------------------
.daterangepicker .ranges li.active {
    background-color: $medium-green;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: $medium-green;
}
.drp-selected {
    font-size: 12px !important;
    color: #15113b !important;
    font-weight: 400 !important;
}
.btn-primary {
    background-color: $medium-green;
    border-color: $medium-green;
}
.btn-sm {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 400 !important;
    border-radius: 6px !important;
    padding: 4px 15px;
}
.cancelBtn {
    background-color: #efefef !important;
}
