@import "../../../styles/Global.scss";

.sales-graph {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 10px 10px 10px;
    padding: 20px;
    position: relative;

    &__title {
        color: $dark-blue;
    }

    .apexcharts-menu-icon {
        display: none;
    }

    .apexcharts-legend-text {
        font-family: "Rubik", sans-serif !important;
        font-size: 10px !important;
        font-weight: 400 !important;
        color: #999999 !important;
    }

    .logo {
        position: absolute;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        right: 15px;
        bottom: -15px;
    }
}
